extends template

block content
    section(style='text-align:center;')
        section
            img(src='/public/img/logo-2.png', width='500')
        section  
        section
            | Your LEAN Stack (PUG) application is running!
            br
            br
            button.intro-button(onclick="window.location='/about';") ABOUT SAMPLE
            = ' '
            button.intro-button(onclick="window.location='/database';") DATABASE SAMPLE
        section
            | Please help us continue to improve this stack.
            br
            br
            button.intro-button(onclick="window.location='https://github.com/wayofthefuture/lean-stack';") GITHUB
            = ' '
            button.intro-button(onclick="window.location='https://github.com/wayofthefuture/lean-stack/fork';") FORK
