<section style="text-align:center;">
    <section>
        <img src="/public/img/logo-2.png" width="500">
    </section>

    <section>&nbsp;</section>

    <section>
        Your LEAN Stack (EJS) application is running!<br><br>
        <button class="intro-button" onclick="window.location='/about';">ABOUT SAMPLE</button>
        <button class="intro-button" onclick="window.location='/database';">DATABASE SAMPLE</button>
    </section>

    <section>
        Please help us continue to improve this stack.<br><br>
        <button class="intro-button" onclick="window.location='https://github.com/wayofthefuture/lean-stack';">GITHUB</button>
        <button class="intro-button" onclick="window.location='https://github.com/wayofthefuture/lean-stack/fork';">FORK</button>
    </section>
</section>
