@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
	margin: 0;
	background: #333;
	color: #9d936d;
    font-family: Roboto Mono;
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
}

#content-body {
	width: 800px;
	margin: 20px auto;
    text-align: center;
}

header, footer {
    font-family: Audiowide;
    background: #222;
	color: #777;
}
nav {
	width: 800px;
	margin: 0 auto;
    padding: 7px 0;
}
header nav { text-align: right; }
footer nav { text-align: center; }

section {
    margin: 30px 0;
}

/* ============================================================ */

div, button {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

div {
    text-align: left;
}
button {
    font-family: Audiowide;
    font-size: 20px;
    text-align: left;
}

h1, h2, h3, h4, h5 {
	margin: 5px;
	font-family: Audiowide;
    font-weight: normal;
}
h1 { font-size: 50px; }
h2 { font-size: 36px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }

button {
    color: #777;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
button:hover {
    color: #ccc;
    transition: 300ms;
}

/* ============================================================ */

.code-header {
    position: relative;
	padding: 5px;
	color: #777;
    font-family: Audiowide;
    font-size: 20px;
}
.copy {
    position: absolute;
    top: 100%;
    right: 0;
}
.code {
	padding: 20px;
	background: #222;
    line-height: 30px;
}
.cli-usage {
	padding: 0 20px;
	background: #222;
	white-space: pre;
	font-size: 14px;
}

.tile {
	display: inline-block;
	width: 33%;
	padding: 15px 0;
	border: 2px solid #333;
    border-bottom: 1px;
	background: #9d936d;
	color: #222;
	text-align: center;
    font-family: Audiowide;
    font-size: 20px;
	line-height: 26px;
	cursor: pointer;
}
.tile:hover {
	background: #ccc;
	transition: 300ms;
}
